= form_for @question do |f|

  .field
    = f.text_field :title
  .field
    = f.text_area :content
  .field
    = f.text_field :tag_list, :placeholder => "( seperated by commas please )"
  .actions
    = f.submit 'Save'
