#question
  %p#notice= notice

  %p
    %b Title:
    = @question.title
  %p
    %b Tags:
    = raw @question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

  %p
    %b Content:
    = @question.content

  %p
    %b Author:
    = @question.display_author

  = link_to 'Edit', edit_question_path(@question)
  \|
  = link_to 'Back', questions_path
