#question-show

  .question
    %p#notice= notice

    %h1
      = @question.title
    = link_to "<i class='social foundicon-torso'></i> #{@question.display_author}".html_safe, @question.user,  :class => "user-link"
    %p
      = @question.content
    %p
      %b Tags:
      = raw @question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

    #voting
      = pluralize @question.reputation_for(:votes).to_i, "vote"
      -#- if current_user && !current_user.voted_for?(haiku)
      |
      = link_to "<i class='social foundicon-thumb-up'></i>  ".html_safe, vote_question_path(@question, type: "up"), method: "post"
      |
      = link_to "<i class='social foundicon-thumb-down'></i>  ".html_safe, vote_question_path(@question, type: "down"), method: "post"

    -if current_user ==  @question.user
      = link_to 'Edit', edit_question_path(@question)
      \|
    = link_to "<i class='foundicon-left-arrow'></i>  ".html_safe, questions_path

    #answer-it
      =link_to "A", "#"

%p
  %ul
    -@question.answers.each do |answer|
      %p=answer.name
      %p=answer.content
      %br
    



%p
  =link_to "Add an answer", new_question_answer_path(@question)