.user-creds
  %h2 Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div
      = f.text_field :name
    %div
      = f.email_field :email
    %div
      = f.text_field :salutation, :placeholder => :"Cardiologist, etc."
    %div
      = f.text_field :phone, :placeholder => :"9897823456 (ten digits, only numbers)", :maxlength => 10
    %div
      = f.password_field :password
    %div
      = f.password_field :password_confirmation
    %div= f.submit "Sign up"
  = render "devise/shared/links"
