.ten.offset-by-one.mobile-four
  %h1 Listing answers

  %table
    %tr
      %td= answer.name
      %td= answer.content
      %td= link_to 'Show', question_path(@question)
      %td= link_to 'Edit', edit_question_answer_path(@question, answer)
      %td= link_to 'Destroy',  [@question, answer], method: :delete, data: { confirm: 'Are you sure?' }

  %br
  = link_to 'New Answer', new_question_answer_path(@question)
